<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>AngularJS - Color Picker</title>
  
  <script src='http://code.jquery.com/jquery-1.8.2.js'></script>   
  <script src="resources/AngularJS/angular.min.js"></script>
  <script src="resources/jQuery_ColorPicker/jquery.colorPicker.min.js"></script>
  
  <link rel="stylesheet" href="resources/jQuery_ColorPicker/colorPicker.css" type="text/css" media="screen" charset="utf-8" />  
  
  <script type='text/javascript'>
	
	var app = angular.module('myApp', []);
	
	app.directive('colorPicker', function() {
	  return {
	    require: 'ngModel',
	    link: function(scope, element, attrs, ngModel) {
	      element.colorPicker({
	        // update the scope whenever we pick a new color
	        onColorChange: function(id, newValue) {
	          scope.$apply(function() {
	            ngModel.$setViewValue(newValue);
	          });
	        }
	      });
		  
		  ngModel.$render = function () {
			element.val(ngModel.$viewValue);
	        element.change();  
		  };
	    }
	  }
	});
	
	app.controller('MainController', function($scope) {
	  $scope.project = {
	    color: "#ff0000"
	  };
	
	  $scope.randomColor = function() {
	    var red   = Math.floor(Math.random() * 255);
	    var green = Math.floor(Math.random() * 255);
	    var blue  = Math.floor(Math.random() * 255);
	    return "rgb(" + red + "," + green + "," + blue + ")";
	  };
	});
  </script>

</head>

<body>
  <div ng-app="myApp" ng-controller='MainController'>
	  <span style="color: {{project.color}}">My Color Picker</span>
	  <input type="text" ng-model="project.color">
	  <button ng-click="project.color='#000000'">Black</button>
	  <button ng-click="project.color='#00ff00'">Green</button>
	  <button ng-click="project.color='#ff00ff'">Purple</button>
	  <button ng-click="project.color=randomColor()">Random</button>
	  <input color-picker ng-model="project.color">
  </div> 
</body>
</html>